<%# add navigation links to this file %>

    <li class="nav-item active"><a href="/uploads" class="nav-link">User File/Upload</a></li>
      <% if user_signed_in? %>
        <li class="nav-item active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %></li>
        <li class="nav-item active"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></li>
        <li class="nav-item active text-light pt-2 pl-4">Logged in as <strong><%= current_user.email %></strong>.</li>
      <% else %>
        <li class="nav-item active"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
        <li class="nav-item active"><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
      <% end %>