<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Swayuploader" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Swayuploader" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container-fluid flex">
      <div class="row">
        <div class="col-2 col-md-2"></div>
        <div class="col-8 col-md-8 bg-light border-dark p-5 m-4 border">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <div class="col-2 col-md-2"></div>
      </div>
    </main>
  </body>
</html>
